<section class="section-footer">
    <div class="customeHr"></div>
    <div class="row displayNoneINSamll">
        <div class="col-lg col-md-4 col-12 footerMargin">
            <div class="row">
                <div class="footerHeading">Brands</div>
                <div class="item mt-1">Opportunities for Brands</div>
                <div class="item mt-1">Content Creation</div>
                <div class="item mt-1">Music Licensing</div>
                <div class="item mt-1">Influenser Campaign</div>
                <div class="item mt-1">Brand Integration on TV</div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-12 footerMargin">
            <div class="row">
                <div class="footerHeading">Artists</div>
                <div class="item mt-1">For Artists</div>
                <div class="item mt-1">Release Music</div>
                <div class="item mt-1">Promotional Tools</div>
                <div class="item mt-1">Broadcast on TV</div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-12 footerMargin">
            <div class="row">
                <div class="footerHeading">Company</div>
                <div class="item mt-1">Careers</div>
                <div class="item mt-1">Contact Us</div>
                <div class="item mt-1">Partner With Us</div>
                <div class="item mt-1">Community Guidelines</div>
                <div class="item mt-1">Privacy Policy</div>
            </div>
        </div>
        <div class="col-lg col-md-3 col-12 footerMargin">
            <div class="row">
                <div class="footerHeading">Discover</div>
                <div class="item mt-1">Songs</div>
                <div class="item mt-1">Videos</div>
                <div class="item mt-1">Artists</div>
                <div class="item mt-1">Playlists</div>
                <div class="item mt-1">Blogs</div>
            </div>
        </div>
        <div class="col-lg col-md-5 col-12 footerMargin">
            <div class="row">
                <div class="footerHeading">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <span>Contact Us</span>
                        </div>
                    </div>
                </div>
                <div class="item mt-2">
                    <div class="row">
                        <div class="col-md-2">
                            <span><img src="../../assets/icons/footericon/Call.png" alt=""></span>
                        </div>
                        <div class="col-md-8">
                            <span>0124-4219838</span>
                        </div>
                    </div>
                </div>
                <div class="item mt-2">
                    <div class="row">
                        <div class="col-md-2">
                            <span> <img src="../../assets/icons/footericon/Fimail.png" alt=""></span>

                        </div>
                        <div class="col-md-10">
                            <span> contact@sobgdew.com</span>
                        </div>
                    </div>
                </div>
                <div class="item mt-2">
                    <div class="row">
                        <div class="col-md-2">
                            <span><img src="../../assets/icons/footericon/Location.png" alt=""></span>
                        </div>
                        <div class="col-md-10">
                            <span> Plot No 45, First Floor, Songdew Media Pvt Ltd, Udyog
                                Vihar Phase IV, Gurgaon (Haryana) - 122015</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 d-lg-none mb-2 footerMargin">
            <div class="row">
                <div class="footerHeading">Visit Us</div>
                <div class="footeritem mt-1">
                    <div class="socialMediaIcons">
                        <img src="../../assets/icons/footericon/Instagram.png" alt="">
                    </div>
                    <div class="socialMediaIcons">
                        <img src="../../assets/icons/footericon/Facebook.png" alt="">
                    </div>
                    <div class="socialMediaIcons">
                        <img src="../../assets/icons/footericon/Linkedin.png" alt="">
                    </div>
                    <div class="socialMediaIcons">
                        <img src="../../assets/icons/footericon/Telegram.png" alt="">
                    </div>
                    <div class="socialMediaIcons">
                        <img src="../../assets/icons/footericon/Youtube.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 mt-4 mb-2">
            <div class="row">
                <div class="logo">
                    <img src="../../assets/icons/footericon/Logo.png" alt="">
                </div>
            </div>
            <div class="row mt-1">
                <span class="copyRight">© 2020 Copyright Songdew Media Pvt Ltd. All rights reserved.</span>
            </div>
        </div>
        <div class="col-lg-2 d-md-none d-lg-block mt-4 mb-2">
            <div class="row">
                <div class="footerHeading">Visit Us</div>
                <div class="footeritem mt-1">
                    <div class="socialMediaIcons">
                        <img src="../../assets/icons/footericon/Instagram.png" alt="">
                    </div>
                    <div class="socialMediaIcons">
                        <img src="../../assets/icons/footericon/Facebook.png" alt="">
                    </div>
                    <div class="socialMediaIcons">
                        <img src="../../assets/icons/footericon/Linkedin.png" alt="">
                    </div>
                    <div class="socialMediaIcons">
                        <img src="../../assets/icons/footericon/Telegram.png" alt="">
                    </div>
                    <div class="socialMediaIcons">
                        <img src="../../assets/icons/footericon/Youtube.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-md-none d-lg-none">
            <div class="footeritemSmall mt-4">
                <img src="../../assets/icons/footericon/Instagram.png" alt="">
                <img src="../../assets/icons/footericon/Facebook.png" alt="">
                <img src="../../assets/icons/footericon/Linkedin.png" alt="">
                <img src="../../assets/icons/footericon/Telegram.png" alt="">
                <img src="../../assets/icons/footericon/Youtube.png" alt="">
            </div>
        </div>
        <div class="col-12 d-md-none d-lg-none">
            <div class="footeritemSmall mt-3">
                <img src="../../assets/icons/footericon/Call.png" alt="">
                <span>0124-4219838</span>
            </div>
            <div class="footeritemSmall mt-1">
                <img src="../../assets/icons/footericon/Fimail.png" alt="">
                <span>contact@sobgdew.com</span>
            </div>
            <div class="footeritemSmall mt-1 mb-4">
                <img src="../../assets/icons/footericon/Location.png" alt="">
                <span>Plot No 45, First Floor, Songdew Media Pvt Ltd, Udyog Vihar Phase IV, Gurgaon (Haryana) - 122015</span>
            </div>
            <div class="footeritemSmall mt-4">
                <img src="../../assets/icons/footericon/Logo.png" alt="">
            </div>
            
            <div class="footeritemSmall mb-4">
                <span>© 2020 Copyright Songdew Media Pvt Ltd. All rights reserved.</span>
            </div>
        </div>
    </div>
</section>