<section class="achivmentSection">
    <div class="row">
        <div class="col-lg-12 px-0">
            <div class="row">
                <div class="achivmentArea">
                    <div class="achivmentHeding">
                        <span>Achievements</span>
                        <div class="icons">
                            <div class="circle" 
                            [ngClass]="!achivemnetSection ? 'Activecircle' : 'circle' "
                            (click)="hideUnHide()">
                                <img *ngIf="achivemnetSection" src="../../../../assets/profileImageAndIcon/view.svg" alt="" >
                                <img *ngIf="!achivemnetSection" src="../../../../assets/profileImageAndIcon/activView.svg" alt="" >
                            </div>
                            <!-- <div class="circle">
                                <img src="../../assets/profileImageAndIcon/activView.svg" alt="">
                            </div> -->
                            <div (click)="editAchivments()" class="circle" data-bs-toggle="modal" data-bs-target="#achievements">
                                <img src="../../assets/profileImageAndIcon/edit.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="achivmentBox row" *ngIf="!achivemnetSection">
                        <div class="achivCard col-lg-3 col-md-6 col-12"
                            *ngFor="let item of listOfAchivement; let i=index">
                            <div class="hrAndEdit">
                                <div class="hrLine"> </div>
                                <!-- <div class="edit" 
                                data-bs-toggle="modal" data-bs-target="#Editachievements"
                                    [ngClass]="{'edit':isChangedBlock==i, 'editNo':isChangedBlock!=i}">
                                    <img src="../../../../assets/profileImageAndIcon/edit.svg" alt="">
                                </div> -->
                            </div>
                            <div class="winnerPosition">
                                {{(item.achievement_name !=null) ? item.achievement_name : "-----"}}
                                <!-- {{item.achievement_name}}  -->
                            </div>
                            <div class="disc" id="trackDisc"> {{item.achievement_description}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Achievements popups -->
<div class="modal fade" id="achievements" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <span class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 px-0">
                    <h5 class="modal-title" id="exampleModalLabel">Achievements</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div [formGroup]="achivmentForm" class="row p-0">
                        <div formArrayName="items" class="px-0"
                            *ngFor="let item of achivmentForm.get('items').controls; let i = index;;let last=last">
                            <div [formGroupName]="i" class="row">
                                <div class="col-lg-4 col-md-4 col-10 ps-0">
                                    <label for="">Title</label>
                                    <input type="text" formControlName="achievement_name" placeholder="title">
                                </div>
                                <div class="col-lg-4 col-md-4 col-10 ps-0">
                                    <label for="">Priority</label>
                                    <input type="text" pattern="\d*" maxlength="1" formControlName="priority" placeholder="Priority">
                                </div>
                                <div class="col-lg-12 col-md-12 col-10 ps-0">
                                    <label for="">Event</label>
                                    <input type="text" formControlName="achievement_description"
                                        placeholder="Achievement Description">
                                </div>
                                <div class="col-12 px-0 mt-1">
                                    <div class="row">
                                        <div class="delete px-0">
                                            <span (click)="deleteAchivment(i)">
                                                <img class="me-1" src="../../assets/profileImageAndIcon/x-circle.svg"
                                                    alt="">
                                                <span class="deleteAchivment">Delete achievement</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" *ngIf="!last">
                                    <hr class="" style="background: #E0E3EB; margin-top: 32px;margin-bottom: 32px;">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="row px-0">
                        <div class="addRowButton mt-1" (click)="addAchivments()">
                            + Add Achievement
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="button" class="submitButton ms-xl-auto ms-lg-auto ms-md-auto me-xl-0 me-lg-0 me-md-0 mx-auto" data-bs-dismiss="modal" (click)="saveChanges()">Save
                    changes
                </button>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border text-primary spinner" role="status" *ngIf="isSpinner">
    <span class="sr-only">Loading...</span>
</div>