<div class="row">
    <div class="heading">
        Promote your music
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="box-with-border w-100">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-4 pr-0">
                    <img class="musicImage" [src]="playingData.songImage" alt="">
                </div>
                <div class="col-lg-5 col-md-5 col-8">
                    <div class="row">
                        <div class="songName">
                            {{playingData.songName}}
                        </div>
                        <div class="publishedOn">
                            Published On: {{playingData.publishedOn}}
                        </div>
                        <div class="clapAndPlay">
                            <img class="me-2" src="../../assets/icons/Playingicon.svg" alt="">
                            <span class="me-2">{{playingData.noOfPlays}} plays</span>
                            <img class="me-2" src="../../../assets/icons/ClapIcon.svg" alt="">
                            <span class="me-2">{{playingData.noOfClaps}} claps</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 changeButton d-block mt-1">
                    <div class="dropdown ">
                        <button class="customeButton ms-lg-auto dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Change the track
                        </button>
                        <div id="style-4" class="dropdown-menu selectTrack" aria-labelledby="dropdownMenuButton">
                            <div class="row mt-1" *ngFor="let item of allTracks">
                                <div class="col-4">
                                    <img class="img-fluid" [src]="item.songImage" alt="">
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="songName">
                                            {{item.songName}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="disc">
                                            {{item.disc}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="promotionToolArea">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-5">
                <div class="qrCodeWidgit">
                    <img src="../../assets/icons/cardicon/Qrcode.svg" alt="">
                </div>
            </div>
            <div class="col-7 d-lg-none d-md-none d-block">
                <div class="toolHeadin">QR Code</div>
                <div class="toolNote">477 artists have used this so far</div>
            </div>
            <div class="col-lg-6 col-md-8 col-12">
                <div class="toolHeadin d-lg-block d-md-block d-none">QR Code</div>
                <div class="toolNote d-lg-block d-md-block d-none">477 artists have used this so far</div>
                <div class="tooldisc">Sell your music withthe customised Sonddew QR Code on your next concert.
                    Songdew QR Code Provides you opportunity to:</div>
                <ul>
                    <li>Promote your music on Social media</li>
                    <li> Sell your music during your gigs</li>
                    <li>Print QR Code on your merchandising</li>
                </ul>
                <div class="row">
                    <div class="qrCode">
                        <img src="../../assets/icons/Qrcode.png" alt="">
                    </div>
                </div>
                <div class="row d-flex d-inline" >
                    <div class="col-lg-6 col-md-12 col-12 ps-0">
                        <button class="qrButton">Download QR Code</button>
                    </div>
                    <div class="col-lg-6 pe-0 col-md-12 col-12 mt-3">
                        <a class="float-md-start float-lg-end" >Know more about QR
                            code</a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div [ngClass]="ependDropDown ? 'expandedDrop' : 'dropExpends'" class=""
                        (click)="ependDropDown= !ependDropDown">
                        <span class="imgText">Impact of QR Code used:</span>
                        <span *ngIf="!ependDropDown"><img src="../../assets/icons/Downarrow.svg" alt=""></span>
                        <span *ngIf="ependDropDown"><img src="../../assets/icons/uparrow.svg" alt=""></span>

                        <div class="row" *ngIf="ependDropDown">
                            <div class="col-lg-12 px-0">
                                <div class="number">
                                    <span class="no">3407</span>
                                    <span class="text ms-1">People are listening to your track</span>
                                </div>
                            </div>
                            <div class="col-lg-12 px-0">
                                <div class="details">
                                    <span class="last7Days">Last 7 days: <span class="number">38.7 K</span>
                                        Listeners
                                    </span>
                                    <span class="last7Days"> <span class="number">38.7 K</span>
                                        Plays
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="hrLine d-lg-block d-md-none d-none"></div>
                    </div>
                    <div class="row">
                        <div class="fileIcon d-lg-flex d-md-none d-none">
                            <img src="../../assets/icons/File.svg" alt="">
                        </div>
                        <div class="howItWorks d-lg-block d-md-none d-none"><span>How it works</span></div>
                    </div>
                    <div class="row">
                        <div class="howItWorksDisc d-lg-block d-md-none d-none">

                            Once your order is submitted, it will be delivered to you within 7 business days and uo
                            to 3 revisions are uncluded in the price. Artworks are created by the UK multimedia
                            production company “SYNCHRONIC DESIGN”, established in 2012 by a seasoned musician and
                            composer Alexander Joshua Davis. He is an experienced Graphic Designer and Artwork
                            Artist with numerous projects in the world of music and video games, as well as brand
                            logos.

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 d-lg-none d-md-block d-block">
                <div class="row">
                    <div class="hrLine"></div>
                </div>
                <div class="row">
                    <div class="fileIcon">
                        <img src="../../assets/icons/File.svg" alt="">
                    </div>
                    <div class="howItWorks"><span>How it works</span></div>
                </div>
                <div class="row">
                    <div class="howItWorksDisc">
                        Once your order is submitted, it will be delivered to you within 7 business days and uo
                        to 3 revisions are uncluded in the price. Artworks are created by the UK multimedia
                        production company “SYNCHRONIC DESIGN”, established in 2012 by a seasoned musician and
                        composer Alexander Joshua Davis. He is an experienced Graphic Designer and Artwork
                        Artist with numerous projects in the world of music and video games, as well as brand
                        logos.

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- <app-footer></app-footer> -->
    </div>