.listOfTrackUploaded {
    .heading {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        color: #222222;
        margin-bottom: 69px;
    }

    .listOftrack {
        display: flex;
        padding: 0;
        border-bottom: 1px solid #E0E3EB;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .musicImage {
        border-radius: 10px;
    }

    .songName {
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #222222;
    }

    .publishedOn {
        padding: 0;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 170%;
        color: rgba(34, 34, 34, 0.8);
    }

    .clapAndPlay {
        padding: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 170%;
        color: #989AA3;

        img {
            cursor: pointer;
        }
    }

    .action-parent {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0;

        .action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .margin {
                margin-left: 20px;
                margin-right: 20px;
            }
            .elips{
                cursor: pointer;
            }
            .share{
                cursor: pointer;
            }
        }

        .pramotionButton {
            background: #F9F9F9;
            box-shadow: -5px -5px 10px #FFFFFF, 4px 5px 10px rgba(216, 218, 225, 0.7);
            border-radius: 8px;
            outline: none;
            border: none;
            width: 130px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }



}

.songPromotionProfile {
    .heading {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        color: #222222;
    }
    .margin{
        margin-top: 100px;
    }

    .disc {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: rgba(34, 34, 34, 0.8);

    }

    button {
        background: #F9F9F9;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.7), 4px 5px 10px rgba(193, 199, 222, 0.7);
        border-radius: 8px;
        outline: none;
        border: none;
        padding: 6px 15px 6px 15px;
    }

    .distribute {
        background: #3D67FF;
        border-radius: 8px;
        color: white;
        width: 150px;
        height: 51px;

    }

    .upload {
        color: #3D67FF;
        width: 132px;
        height: 51px;
    }

    .profile {
        position: relative;
        width: 388px;
        height: 388px;
        background: radial-gradient(115.15% 74.1% at 42.08% 17.88%, rgba(61, 255, 220, 0.1) 0%, rgba(152, 223, 239, 0.1) 42.43%, rgba(105, 55, 213, 0.1) 100%), #EFF1F6;
        border-radius: 50%;

        .upper {
            background: rgba(0, 53, 255, 0.25);
            width: 271px;
            height: 271px;
            border-radius: 50%;
            position: absolute;
            right: 30px;
            top: 21%;

            .profile-Img {
                position: absolute;
                top: -52px;
                right: -9px;
                height: 99px;
                height: 324.2px;
                border-radius: 53%;
            }
        }

    }
}

.geteverythingDics {
    .disc {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 140%;
        color: #222222;
        margin-bottom: 23.68px;
        padding: 0;
    }

    .andSoOn {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 170%;
        color: #222222;
        opacity: 0.8;
        margin-bottom: 5px;
        margin-left: 28px;
    }

    .img {
        width: 3%;
    }

    .textDiv {
        width: 97%;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 170%;
        color: #222222;
        opacity: 0.8;
        margin-bottom: 5px;
        padding: 0;
    }
}

.promotionTool {
    margin-top: 40px;
    padding: 0;
}

@media (max-width: 768px) {

    .listOfTrackUploaded {
        .heading {
            font-size: 40px;
            margin-top: 30px;
        }
    }

    .songPromotionProfile {
        .heading {
            font-size: 40px;
            // margin-top: 30px;
        }
        .margin{
            margin-top: 30px;
        }

        .profile {
            width: 332px;
            height: 332px;

            .upper {
                width: 232.27px;
                height: 231.52px;

                .profile-Img {
                    width: 250.76px;
                    height: 276.41px;
                    top: -45px;
                    right: -9px;
                }
            }
        }
    }

    .geteverythingDics {
        .disc {
            font-weight: 500;
            font-size: 30px;
            margin-top: 50px;
        }

        .img {
            width: 5%;
        }

        .textDiv {
            width: 96%;
        }
    }

}

@media (max-width: 576px) {

    .listOfTrackUploaded {
        .heading {
            font-size: 30px;
            // margin-top: 30px;
        }

    }

    .songPromotionProfile {
        .heading {
            font-size: 30px;
            
        }
        .margin{
            margin-top: 30px;
        }

        .profile {
            width: 230px;
            height: 230px;

            .upper {
                width: 160.64px;
                height: 160.64px;

                .profile-Img {
                    width: 179.02px;
                    height: 200.36px;
                    top: -40px;
                    right: -9px;
                }
            }
        }
    }

    .geteverythingDics {
        .disc {
            font-weight: 500;
            font-size: 20px;
        }

        .img {
            width: 9%;
        }

        .textDiv {
            width: 92%;
        }
    }

}