.profileBg {
    border-radius: 10px;
    // background-image: url("../../assets/profileImageAndIcon/profileimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 335px;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.085) 13.98%,
            rgba(16, 16, 16, 0.355) 49.55%,
            rgba(3, 3, 3, 0.5) 75.22%), url('../../assets/profileImageAndIcon/profileimage.png');
    border-radius: 32px;

    .icon {
        width: 5px;
        margin-left: auto;
        width: 47px;

        img {}
    }

    .dropleft {
        img {
            margin-left: auto;
            cursor: pointer;
            margin-top: 26px;
        }

        .dropdown-menu {
            right: 24px;
            left: auto !important;
            padding: 5px;
            background: #FFFFFF;
            box-shadow: 0px 7px 10px rgba(34, 34, 34, 0.05);
            border-radius: 10px;

            .item {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                display: flex;
                align-items: center;
                color: #222222;
                cursor: pointer;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .profileDetails {
        padding: 0px;
        margin-top: 14%;

        .profile {
            margin-left: 79px;
        }

        .availableArea {
            padding-left: 5px;
            margin-top: 45px;
            display: flex;
            margin-left: 32px;

            .af {
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: #505050;
                margin-top: 5px;
                margin-right: 23px;
            }

            .chip {
                background: #FFFFFF;
                border: 0.5px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 15px;
                height: 30px;
                padding-left: 15px;
                padding-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 21px;

                span {
                    font-size: 13px;
                    color: #222222;
                    font-weight: normal;
                }
            }

        }



        .name {
            font-weight: 500;
            font-size: 32px;
            line-height: 48px;
            color: #FFFFFF;
        }

        .profileNameAndLoacation {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            padding: 0px;

            .marginT {
                margin-top: 5px;
            }

        }

        .social {
            justify-content: end;
            margin-top: 6%;

            .socialMediaIcon {
                height: 50px;

            }

            .marginLeftRight {
                margin-left: 25px;
                margin-right: 25px;
            }


        }

        .contactMe {
            background: #F9F9F9;
            box-shadow: -5px -5px 10px #FFFFFF, 4px 5px 10px rgba(216, 218, 225, 0.7);
            border-radius: 8px;
            font-size: 14px;
            line-height: 21px;
            text-transform: capitalize;
            border: none;
            outline: none;
            color: #3D67FF;
            height: 50px;
            width: 135px;
        }

        .circle {
            width: 35.2px;
            height: 35.07px;
            margin-right: 15px;
            border-radius: 50%;

            img {
                width: 35.2px;
                height: 35.07px;
                border-radius: 50%;
            }
        }

    }








}

.musicSection {
    background: #1144fa0d;
    margin-top: 60px;

    .head {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #222222;
        margin-top: 60px;
    }
}

.story {
    margin-top: 183px;

    .storySection {

        padding: 0;
        // margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .heading {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #222222;
        }

        .icons {
            display: flex;
            align-items: center;

            .circle {
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 38px;
                height: 38px;
                cursor: pointer;
                margin-right: 10px;

            }
        }


    }
}

.details {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 170%;
    color: #505050;
    margin-top: 30px;
    display: block;
}

.pSet {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #989AA3;
    padding: 0;
    margin-top: 26px;
}

.lnaguages {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #222222;
    margin-left: 16px;

}

.marginTop {
    margin-top: 14px;

    span {
        padding: 0;
    }
}

.video {
    margin-top: 45px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.21%, rgba(0, 0, 0, 0.4) 100%),
    ;
    filter: drop-shadow(0px 0px 58.473px rgba(49, 69, 139, 0.05));
    border-radius: 36px;
    width: 100%;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
        width: 100%;
        height: 100%;
        border-radius: 36px;
    }
}

.bandMembers {
    padding: 0px;

    .bmHeading {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: #989AA3;
        margin-top: 20px;
    }

    .membersName {
        padding: 0;
        display: flex;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #222222;
        margin-top: 14px;

        img {
            width: 15px;
            height: 19.22px;
            margin-right: 15px;
        }
    }
}

.achivmentArea {
    padding: 0px;
    margin-top: 104px;

    .achivmentHeding {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #222222;
        margin-bottom: 35px;
        display: flex;

        .icons {
            width: 100px;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .circle {
                border: 1px solid #9CB0F7;
                box-sizing: border-box;
                border-radius: 42px;
                width: 38px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-left: 10px;
            }
        }

    }

    .achivmentBox {
        display: flex;
        justify-content: center;
        align-items: center;

        background: #F9F9F9;
        border: 1px solid #E0E3EB;
        box-sizing: border-box;
        border-radius: 24px;
        height: 172px;

        .achivCard {
            padding: 30px;

            .hrLine {
                border: 2px solid #3D67FF;
                width: 80px;
                margin-bottom: 20px;
            }

            .winnerPosition {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                color: #222222;
                margin-bottom: 10px;
            }

            .disc {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 170%;
                color: #505050;

            }
        }

        .achivCard:hover {
            background: #F9F9F9;
            box-shadow: 20px 20px 40px rgba(216, 218, 225, 0.4);
            border-radius: 24px;
            height: 182px;
        }
    }

}

.bg {
    position: relative;

    .reBuEn {
        background: #F9F9F9;
        border-radius: 20px;
        margin-top: 110px;
        position: relative;

        .rightBg {
            img {
                position: absolute;
                top: 0;
                right: 0;
                height: 260px;
                border-radius: 6%;
            }
        }

        .rightLg {
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 260px;
                border-radius: 6%;
            }
        }

        .details {
            display: flex;
            justify-content: center;
        }

        .heading {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #222222;
            margin-top: 40px;
            display: inline-block;
        }

        .icons {
            display: flex;

            .items {
                .image {
                    margin-right: 10px;
                }
            }

            .middle {
                margin-left: 75px;
                margin-right: 75px;
            }
        }

        .button {
            padding-bottom: 40px;
            margin-top: 40px;

            .contactButton {
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: capitalize;
                border: none;
                outline: none;
                background: #F9F9F9;
                box-shadow: -5px -5px 10px #FFFFFF, 4px 5px 10px rgba(216, 218, 225, 0.7);
                border-radius: 8px;
                width: 140px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #3D67FF;
                margin: auto;
            }
        }
    }

}

.action {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .circle {
        border: 1px solid #E0E3EB;
        box-sizing: border-box;
        border-radius: 42px;
        width: 38px;
        height: 38px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: flex;
    }
}

.music-section {
    background: #3d67ff0a;
    .heading {
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .maction {
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #9CB0F7;
                box-sizing: border-box;
                border-radius: 42px;
                width: 38px;
                height: 38px;
                margin-right: 10px;
            }
        }
    }

}