<div class="container p-lg-0 p-md-0 p-3">
    <app-profile></app-profile>
</div>
<!-- <div class="container p-lg-0 p-md-0 p-3">
    <app-profile-story (newItemEvent)="hindUnhide($event)" [aboutSection]="aboutSection"></app-profile-story>
</div>
<div class="container p-lg-0 p-md-0 p-3">
    <app-profile-chievements (newItemEvent)="hindUnhide($event)" [achivemnetSection]="achivemnetSection"></app-profile-chievements>
</div>

<div class="container p-lg-0 p-md-0 p-3">
    <app-profile-receiving-business-enquireies
    (newItemEvent)="hindUnhide($event)"
    [enquireiesSection]="enquireiesSection">

    </app-profile-receiving-business-enquireies>
</div>

<div class="background">
    <div class="container p-lg-0 p-md-0 p-3" >
        <app-profile-music (newItemEvent)="hindUnhide($event)"
        [musicarea]="musicarea"></app-profile-music>
    </div>
</div>

<div class="videoBg">
    <div class="container p-lg-0 p-md-0 p-3 size">
        <app-profile-video 
        (newItemEvent)="hindUnhide($event)"
        [videoSection]="videoSection"></app-profile-video>
    </div>
</div>
<div class="container p-lg-0 p-md-0 p-3">
    <app-profile-photo (newItemEvent)="hindUnhide($event)"
    [photosSection]="photosSection"></app-profile-photo>
</div>

<div class="container p-lg-0 p-md-0 p-3">
    <app-profile-quote (newItemEvent)="hindUnhide($event)"
    [quoteSection]="quoteSection"></app-profile-quote>
</div>

<div class="container p-lg-0 p-md-0 p-3">
    <app-profile-live-performaces
     (newItemEvent)="hindUnhide($event)"
    [LivePerformanceSection]="LivePerformanceSection"
    ></app-profile-live-performaces>
</div>

<div class="container p-lg-0 p-md-0 p-3">
    <app-profile-in-press
    (newItemEvent)="hindUnhide($event)"
    [pressSection]="pressSection"
    ></app-profile-in-press>
</div>

<div class="container p-lg-0 p-md-0 p-3">
    <app-profile-assets
    (newItemEvent)="hindUnhide($event)"
    [AssetsSection]="AssetsSection"
    ></app-profile-assets>
</div> -->