<section class="position-relative d-bloc">
    <div class="row px-5">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="profileBg mt-5 position-relative">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="row">
                            <div class="btn-group dropleft" data-toggle="dropdown" aria-haspopup="true">
                                <img class="img-fluid" src="../../assets/profileImageAndIcon/elips.png" alt="">
                                <div class="dropdown-menu">
                                    <div class="item">
                                        <a>Download Profile as Pdf</a>
                                    </div>
                                    <div class="item">
                                        <a>Follow</a>
                                    </div>
                                    <div class="item">
                                        <a>Report Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profileDetails">
                    <div class="row mt-4 w-100">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="profile">
                                        <img src="../../assets/profileImageAndIcon/profilePic.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="name">James Kumar</div>
                                    <div class="profileNameAndLoacation">
                                        <div class="row">
                                            <span class="px-0">
                                                <img class="me-2" src="../../assets/profileImageAndIcon/music.png" alt="">
                                                <span>Singer, Composer </span>
                                            </span>
                                        </div>
                                        <div class="row marginT">
                                            <span class="px-0">
                                                <img class="me-2" src="../../assets/profileImageAndIcon/map.png" alt="">
                                                <span>India, New Dalhi</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-lg-6 ps-0">
                                            <button class="contactMe"> Contact Me</button>
                                        </div>
                                        <div class="col-lg-6 d-flex mt-2">
                                            <div class="circle">
                                                <img class="" src="../../assets/profileImageAndIcon/mc.png" alt="">
                                            </div>
                                            <div class="circle">
                                                <img class="" src="../../assets/profileImageAndIcon/digital.png" alt="">
                                            </div>
                                            <div class="circle">
                                                <img class="" src="../../assets/profileImageAndIcon/ad.png" alt="">
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex social">
                            <div class="socialMediaIcon">
                                <img src="../../assets/profileImageAndIcon/instagram.png" alt="">
                            </div>
                            <div class="socialMediaIcon marginLeftRight">
                                <img src="../../assets/profileImageAndIcon/facebook.png" alt="">
                            </div>
                            <div class="socialMediaIcon ">
                                <img src="../../assets/profileImageAndIcon/twitter.png" alt="">
                            </div>
                            <div class="socialMediaIcon marginLeftRight">
                                <img src="../../assets/profileImageAndIcon/applemusic.png" alt="">
                            </div>
                            <div class="socialMediaIcon">
                                <img src="../../assets/profileImageAndIcon/spotify.png" alt="">
                            </div>
                            <div class="socialMediaIcon marginLeftRight">
                                <img src="../../assets/profileImageAndIcon/youtube.png" alt="">
                            </div>
                            <div class="socialMediaIcon" style="margin-right: 45px;">
                                <img src="../../assets/profileImageAndIcon/soundcloud.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="availableArea">
                                    <span class="af">Available for</span>
                                    <div class="chip">
                                        <span>
                                            <img class="me-2" src="../../assets/profileImageAndIcon/musicListners.png"
                                                alt="">
                                            Music licensing
                                        </span>
                                    </div>
                                    <div class="chip">
                                        <span>
                                            <img class="me-2" src="../../assets/profileImageAndIcon/sliders.png" alt="">
                                            Production
                                        </span>
                                    </div>
                                    <div class="chip">
                                        <span>
                                            <img class="me-2" src="../../assets/profileImageAndIcon/musicBlack.png" alt="">
                                            Live gigs
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section class="story px-5">
    <div class="row">
        <div class="storySection d-flex">
            <div class="heading">Story</div>
            <div class="icons">
                <div class="circle">
                    <img src="../../assets/profileImageAndIcon/view.png" alt="">
                </div>
                <div class="circle">
                    <img src="../../assets/profileImageAndIcon/edit.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-5 ps-0">
            <span class="details">
                Songdew TV is songdew's latest initiative. It is the only 24 hour satellite music television
                channel dedicated to showcasing PURE UNCORRUPTED MUSIC from some of the finest artists in India.
                The TV channel is for the young and young at heart music lovers who can enjoy numerous private
                albums that are not available in the mainstream media.
            </span>
            <div class="row">
                <div class="pSet">
                    Performance set
                </div>
            </div>
            <div class="row marginTop">
                <span>
                    <img src="../../assets/profileImageAndIcon/languageIcon.png" alt="">
                    <span style="margin-left: 7px;" class="lnaguages">Hindi, English</span>
                </span>
            </div>
            <div class="row marginTop">
                <span>
                    <img src="../../assets/profileImageAndIcon/bmusic.png" alt="">
                    <span class="lnaguages">Bollywood Covers, Hindi Original, Folk</span>
                </span>
            </div>

            <div class="row bandMembers">
                <div class="bmHeading px-0">Band Mebers</div>
                <div class="row px-0">
                    <div class="col-lg-6 ps-0" *ngFor="let item of menbers">
                        <div class="membersName">
                            <img src="../../assets/profileImageAndIcon/user.png" alt="">
                            <span>{{item.name}} - {{item.experties}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <div class="video">
                <video controls>
                    <source src="../../assets/profileImageAndIcon/video.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                </video>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="achivmentArea">
            <div class="achivmentHeding">
                <span>Achievements</span>
                <div class="icons">
                    <div class="circle">
                        <img src="../../assets/profileImageAndIcon/activView.png" alt="">
                    </div>
                    <div class="circle">
                        <img src="../../assets/profileImageAndIcon/edit.png" alt="">
                    </div>
                </div>
            </div>
            <div class="achivmentBox">
                <div class="achivCard" *ngFor="let item of achievements">
                    <div class="hrLine"> </div>
                    <div class="winnerPosition"> {{item.winnerPosition}} </div>
                    <div class="disc"> {{item.disc}} </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <div class="row">
                <div class="col-lg-11 bg">
                    <div class="reBuEn text-center">
                        <span class="heading">Receiving Business Enquireies For</span>
                        <div class="details">
                            <div class="icons">
                                <div class="items">
                                    <img class="image" src="../../assets/profileImageAndIcon/musicListners.png"
                                        alt="">
                                    <span>Music Licensing</span>
                                </div>
                                <div class="items middle">
                                    <img class="image" src="../../assets/profileImageAndIcon/sliders.png"
                                        alt="">
                                    <span>Production</span>
                                </div>
                                <div class="items">
                                    <img class="image" src="../../assets/profileImageAndIcon/musicBlack.png"
                                        alt="">
                                    <span>Live Gigs</span>
                                </div>
                            </div>
                        </div>
                        <div class="button">
                            <button class="contactButton">Contact</button>
                        </div>
                        <div class="rightBg">
                           <img src="../../assets/profileImageAndIcon/Rectangle 2172.png" alt="">
                        </div>
                        <div class="rightLg">
                            <img src="../../assets/profileImageAndIcon/Rectangle 2174.png" alt="">
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-1 px-0">
                    <div class="action">
                        <div class="circle">
                            <img src="../../assets/profileImageAndIcon/view.png" alt="">
                        </div>
                        <div class="circle">
                            <img src="../../assets/profileImageAndIcon/edit.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="music-section px-5">
   <div class="heading">
       <div class="head">Music</div>
       <div class="maction">
           <div class="circle">
               <img src="../../assets/profileImageAndIcon/activView.png" alt="">
           </div>
           <div class="circle">
            <img src="../../assets/profileImageAndIcon/edit.png" alt="">
        </div>
       </div>
   </div>
</section>




<section>
    <app-footer></app-footer>
</section>