/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Poppins';
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.heading {
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0;
}

.customeButton {
    background: #F9F9F9;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ECECEC;
    outline: none;
    color: #3D67FF;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 13px 10px 13px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}
@media print{ 
    body, html, #page-container, .scrollable-page, .ps, .panel {
        height: 100% !important;
        width: 100% !important;
        display: inline-block;
        box-shadow: none !important;
    }
}

.modal {
    .modal-content {
        padding: 35px;
        border-radius: 20px;
        background: #F9F9F9;

        .modal-header {
            padding: 0px;
            border-bottom: 0px;

            .btn-close {
                cursor: pointer;
                font-size: 10px;
            }
        }

        .modal-title {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #222222;
            padding: 0;
            margin-bottom: 15px;
        }

        .modal-body {


            padding: 0px;

            .mrBottom {
                margin-bottom: 15px;
            }

            .mrTop {
                margin-top: 15px;
            }

            label {
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
                color: #222222;
                padding: 0;
                margin-bottom: 5px;

            }

            input[type="text"] {
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                height: 36px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                
                width: 100%;
                padding-left: 10px;
                color: #222222;

            }

            input[type="number"] {
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                height: 36px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                
                width: 100%;
                padding-left: 10px;
                color: #222222;

            }

            input[type="number"]:focus {
                outline: none;
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                height: 36px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                
                width: 100%;
                padding-left: 10px;
                color: #222222;

            }

            input[type="date"] {
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                height: 36px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                
                width: 100%;
                padding-left: 10px;
                color: #222222;

            }

            input[type="date"]:focus {
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                height: 36px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                
                width: 100%;
                padding-left: 10px;
                color: #222222;

            }

            select {
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                height: 36px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                
                width: 100%;
                padding-left: 10px;
                color: #222222;

            }

            select:focus {
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                height: 36px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                
                width: 100%;
                padding-left: 10px;
                color: #222222;
                outline: none;
            }

            .hrlineInPress {
                width: 100%;
                height: 2px;
                background: #E0E3EB;
                margin-top: 31px;
                margin-bottom: 31px;
            }

            .uploadBtn {
                background: #E0E3EB;
                box-shadow: 0px 5px 8px rgba(152, 154, 163, 0.1);
                border-radius: 8px;

                cursor: pointer;

                margin-top: 15px;
                padding: 6px 18px 6px 18px;
                width: fit-content;

                label {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #989AA3;
                    margin-bottom: 0px;
                }

                .logo {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: #222222;
                }

                .size {
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 15px;

                    color: #989AA3;

                }
            }

            .assetsLabel {
                font-size: 14px;
                line-height: 21px;
                color: #222222;
                margin-top: 15px;
                margin-bottom: 15px;

            }

            .note {
                font-style: italic;
                font-weight: normal;
                font-size: 10px;
                line-height: 15px;
                margin-top: 15px;
                color: #989AA3;

            }

            .or {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: 0.3px;
                color: #222222;
                margin-top: 5px;
            }

            .allchips {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 5px;

                .chipBody {
                    background: #FFFFFF;
                    border: 0.5px solid #E0E3EB;
                    box-sizing: border-box;
                    border-radius: 15px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 19px;
                    color: #222222;
                    margin-right: 14px;
                    cursor: pointer;
                    width: 83px;
                    height: 31px;
                }

                .coverCoose {
                    background: #989AA3;
                    border: 0.5px solid #E0E3EB;
                    box-sizing: border-box;
                    border-radius: 15px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 19px;
                    color: #222222;
                    margin-right: 14px;
                    cursor: pointer;
                }

                .chipHeading {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.3px;
                    color: #222222;
                    margin-right: 20px;
                }

            }


            .performenceTitel {
                margin-top: 25px;
                margin-bottom: 25px;
            }

            .action {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .circle {
                    border: 1px solid #3D67FF;
                    box-sizing: border-box;
                    border-radius: 42px;
                    width: 26px;
                    height: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 14px;
                    }
                }

                .deActiveCricle {
                    border: 1px solid #E0E3EB;
                    box-sizing: border-box;
                    border-radius: 42px;
                    width: 26px;
                    height: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 14px;
                    }
                }
            }

            .highAndView {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .addRowButton {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.3px;
                color: #3D67FF;
                cursor: pointer;
                margin-top: 15px;
                padding: 0px;
                width: 150px;
            }

            .addRowButton {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.3px;
                color: #3D67FF;
                cursor: pointer;
                margin-top: 15px;
                padding: 0px;
                width: 150px;
            }

            .deleteAchivment {
                font-style: normal;
                font-weight: 600;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: 0.3px;
                color: #989AA3;
                cursor: pointer;
            }

            .languagechipsInput {
                display: flex;
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                // padding-top: 5px;
                // padding-bottom: 5px;
                align-items: center;
                min-height: 36px;
                flex-wrap: wrap;

                .inputchips {
                    margin-right: 10px;
                    background: #E0E3EB;
                    border-radius: 20px;
                    font-weight: normal;
                    font-size: 12px;
                    letter-spacing: 0.3px;
                    color: #222222;
                    padding-left: 11px;
                    padding-right: 11px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    width: auto;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 23px;
                    font-weight: 400;
                    line-height: 18px;

                }

                select {
                    border: none;
                }

                .imgCross {
                    margin-left: 5px;
                    cursor: pointer;
                    padding: 2px;

                    span {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: 0.3px;
                        color: #222222;
                    }

                    img {
                        width: 12px;
                        height: 12px;
                    }
                }

                .imgCross:hover {
                    margin-left: 5px;
                    cursor: pointer;


                    padding: 2px;

                    img {
                        width: 12px;
                        height: 12px;
                        background: #0000002b;
                        border-radius: 23px;
                    }

                    // padding: 1px 4px 1px 4px;
                }
            }

            input[type="text"]:focus {
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                height: 36px;
                outline: none;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                
                width: 100%;
                padding-left: 10px;
                color: #222222;

            }

            .form-select {
                height: 35px;
                outline: none;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                

                color: #222222;

            }

            .form-select:focus {
                height: 35px;
                outline: none;
                border-color: #E0E3EB;
                outline: 0;
                box-shadow: none;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                
                color: #222222;

            }

            textarea {
                outline: none;
                border-color: #E0E3EB;
                outline: 0;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 170%;
                color: #505050;
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                padding: 15px 24px 15px 24px;

            }

            textarea:focus {
                outline: none;
                border-color: #E0E3EB;
                outline: 0;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 170%;
                color: #505050;
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                padding: 20px;
            }

            .sm {
                margin-top: 25px;
            }

            .note {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 15px;
                color: rgba(34, 34, 34, 0.8);

            }

            .badgesMargin {
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }

        .paddingt {
            padding-top: 50px;
        }

        .paddingb {
            padding-bottom: 50px;
        }

        .paddinglr {
            padding-left: 35px;
            padding-right: 35px;
        }

        .flexPhotoContainer {
            display: flex;
            flex-flow: row wrap;
            position: relative;

            .photoItems {
                // flex: 0 1 20%;
                padding-left: 10px;
                padding-top: 10px;
                height: 126px;
                width: 126px;

                img {
                    border-radius: 5px;
                }
            }

            .uploadImage {
                background: #FFFFFF;
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 5px;
                // flex: 0 1 20%;
                margin-left: 10px;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 8px;
                line-height: 12px;
                letter-spacing: 0.3px;
                color: #989AA3;
                flex-wrap: wrap;
            }
        }

        .listOfBadges {
            display: flex;

            .BcircleMg {
                width: 50px;
                height: 50px;
                filter: drop-shadow(1.5px 1.5px 2px rgba(115, 115, 118, 0.3));
                background: #000000;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .BcircleDigital {
                width: 50px;
                height: 50px;
                filter: drop-shadow(1.5px 1.5px 2px rgba(115, 115, 118, 0.3));
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 50px;
                margin-right: 50px;

                img {
                    border-radius: 50%;
                }
            }

            .BcircleArist {
                width: 50px;
                height: 50px;
                filter: drop-shadow(1.5px 1.5px 2px rgba(115, 115, 118, 0.3));
                background: #000000;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        .activeRadio {
            border: 1.5px solid #3D67FF;
            box-sizing: border-box;
            border-radius: 42px;
            width: 24px;
            height: 27px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 21px;
            margin-top: 10px;
            cursor: pointer;
        }

        .deactiveRadio {
            border: 1px solid #E0E3EB;
            box-sizing: border-box;
            border-radius: 42px;
            width: 27px;
            height: 27px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 21px;
            margin-top: 10px;
            cursor: pointer;
        }

        .secondTitle {
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 15px;
            color: rgba(34, 34, 34, 0.8);
            margin-top: 5px;
        }

        .checkBox {
            display: flex;
            margin-top: 15px;

            .checkBoxLabel {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                color: #222222;
                margin-left: 23px;
            }

            .checkBoxLabelactive {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.3px;
                color: #222222;
                margin-left: 23px;

            }
        }

        .submitButton {
            background: #F9F9F9;
            box-shadow: -5px -5px 10px #FFFFFF, 4px 5px 10px rgba(216, 218, 225, 0.7);
            border-radius: 8px;
            outline: none;
            border: none;
            height: 43px;
            width: 134px;
            font-family: Poppins;
            font-style: normal;
            justify-content: center;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            
            color: #3D67FF;
            margin-left: auto;
        }

        .LblBrowse {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.3px;
            color: #989AA3;
            cursor: pointer;

            .uploadDelete {
                margin-right: 10px;
            }
        }

        .imgBeforUpload {
            padding: 0px;
        }

        .marginLeft {
            margin-left: 45px;
        }
    }

    .trackBanner {
        margin-top: 25px;
        padding-top: 20px;
        padding-bottom: 20px;


    }

    .shuffle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .trackAndTitle {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;

        .trackTitle {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #222222;
            margin-bottom: 0px;
        }

        .albumtype {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #989AA3;
            margin-top: 5px;
            margin-bottom: 0px;
        }
    }


    .trackBanner {
        // width: 112px;
        // height: 112px;
        border-radius: 5px;
    }

    .highlighted {
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #989AA3;
    }

    .highlightedBg {
        background: #F5F6F9;
    }

    .unhilightedBg {
        background: #f9f9f9;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background: #E0E3EB;
        // background-color: #000000;
        border: 2px solid #E0E3EB;
    }
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2000000;
}

.warning {
    background-color: #ff8f00 !important;
    color: white;
}

.error {
    background-color: #c62828 !important;
    color: white;
}

.success {
    background-color: #4BB543 !important;
    color: white;

    .mat-button-base {
        color: black;
    }
}

::-webkit-input-placeholder {
    text-transform: lowercase;
}

:-moz-placeholder {
    text-transform: lowercase;
}

::-moz-placeholder {
    text-transform: lowercase;
}

:-ms-input-placeholder {
    text-transform: lowercase;
}

.dialog {
    z-index: 3000 !important;
}
::ng-deep.cdk-overlay-pane {
    z-index: 3000 !important;
}
