.videoSection {
    .sectionHeading {
        display: flex;
        margin-top: 68px;
        margin-bottom: 30px;

        .head {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #222222;
        }

        .action {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;

            .circle {
                border: 1px solid #E0E3EB;
                box-sizing: border-box;
                border-radius: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 38px;
                height: 38px;
                cursor: pointer;
                margin-right: 10px;
            }
            .Activecircle {
                border: 1px solid #9CB0F6;
                box-sizing: border-box;
                border-radius: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 38px;
                height: 38px;
                cursor: pointer;
                margin-right: 10px;
            }
        }

    }

    .videoTag {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.21%, rgba(0, 0, 0, 0.4) 100%), #C4C4C4;
        border-radius: 20px;
        // width: 476px !important;

    }

    .perent {
        position: relative;

        .transpArentDiveOnVideo {
            position: absolute;
            width: 100%;
            height: 200px;
            background: #80808000;
            z-index: 1;

            .nameAndTrack {
                position: absolute;
                bottom: 9%;
                left: 7px;

                .sName {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 140%;
                    color: #FFFFFF;
                    margin-bottom: 0;
                }

                .arName {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 18px;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }

        .OnVideo {
            position: absolute;
            width: 100%;
            height: 200px;
            background: #80808000;
            z-index: 1;
            top: 0;
            height: 270px;

            .nameAndTrack {
                position: absolute;
                bottom: 5%;
                left: 7%;

                .sName {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 140%;
                    color: #FFFFFF;
                    margin-bottom: 0;
                }

                .arName {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 18px;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }

    .middle {
        height: 271px;
        margin: auto;
        display: block;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.21%, rgba(0, 0, 0, 0.4) 100%), #C4C4C4;
        border-radius: 20px;
        width: 476px !important;
        position: relative;

    }

    .center1 {
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 228px;

        .videoTag {}
    }


    .center2 {
        width: 476px;
        height: 328px;
    }

    .center3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .videoHeading {
        display: flex;
        margin-top: 68px;
        margin-bottom: 80px;

        .vHead {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #222222;
        }

        .vaction {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;

            .circle {
                border: 1px solid #9CB0F7;
                box-sizing: border-box;
                border-radius: 42px;
                width: 38px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-left: 10px;
            }
        }

    }
}
.one{
    ::ng-deep iframe{
        width: 100%;
        height: 228px;
        border-radius: 20px;
    }
}
.two{
    ::ng-deep iframe{
        width: 100%;
        height: 328px;
        border-radius: 20px;
    }
}
.modal .modal-content .paddinglr {
    // padding-left: 0px;
    // padding-right: 0px;
    .fram{
        ::ng-deep iframe {
            width: 163px;
            height: 112px;
            box-shadow: 0px 0px 58.473px rgb(49 69 139 / 5%);
            border-radius: 10px!important;
        }
    }
}
@media (max-width: 768px) {
    .videoSection {
        .sectionHeading {
            margin-top: 22px;
            margin-bottom: 20px;
        }

        padding: 0;
        margin-top: 50px;

        .qrCodeWidgit {
            width: 187px;
            height: 187px;
        }

        .middle {
            height: 100%;
            margin: auto;
            display: block;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.21%, rgba(0, 0, 0, 0.4) 100%), #C4C4C4;
            border-radius: 20px;
            width: 100% !important;
            position: relative;

        }


        .perent {
            .OnVideo {
                height: 158px;
            }

            .transpArentDiveOnVideo {
                .nameAndTrack {
                    bottom: 24%;
                }
            }
        }
    }
    .one{
        padding: 0;
        overflow-x: auto;
        direction: rtl;
        ::ng-deep iframe{
            width: 300px;
            height: 200px;
            border-radius: 20px;
            

        }
    }
    .two{
        overflow-x: auto;
        padding: 0;
       
        ::ng-deep iframe{
            width: 300px;
            height: 200px;
            border-radius: 20px;
        }
    }
    .direction{
        direction: ltr;
    }
    .three{
        // width: 100%;
        padding-left:25px;
        padding-right:25px;
        ::ng-deep iframe{
            width: 100%;
            height: 280px;
            border-radius: 20px;
        }
    }
    // .container-size {
    //     max-width: 784px!important;
    // }
    .modal .modal-content .paddinglr {
        padding-left: 0px;
        padding-right: 0px;
        .fram{
            ::ng-deep iframe {
                width: 124.92px;
                height: 85.83px;
                box-shadow: 0px 0px 58.473px rgb(49 69 139 / 5%);
                border-radius: 10px!important;
            }
        }
    }
    .modal .modal-content .modal-header {
        padding: 27px;
        border-bottom: 0px;
    }
}

@media (max-width: 576px) {
    .videoSection {
        .sectionHeading {
            margin-top: 30px;
            margin-bottom: 22px;
        }

        .middle {
            height: 100%;
            margin: auto;
            display: block;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.21%, rgba(0, 0, 0, 0.4) 100%), #C4C4C4;
            border-radius: 20px;
            width: 100% !important;
            position: relative;
        }

        .perent {
            margin-top: 20px;
            margin-bottom: 20px;

            .OnVideo {
                height: 222px;
            }

            .transpArentDiveOnVideo {
                .nameAndTrack {
                    bottom: 2%;
                }
            }
        }
        .videoLists{
            width: 100px;
            overflow-x: auto;
        }
        .one{
            padding: 0;
            overflow-x: hidden;
            direction:unset;
            ::ng-deep iframe{
                width: 100%;
                height: 200px;
                border-radius: 20px;
                margin-bottom: 15px;
                
    
            }
        }
        .two{
            overflow-x: hidden;
            padding: 0;
            direction:unset;
            ::ng-deep iframe{
                width: 100%;
                height: 206px;
                border-radius: 20px;
                margin-bottom: 15px;
            }
        }
        
        .three{
            ::ng-deep iframe{
                width: 100%;
            }
        }
    }
    .modal .modal-content .paddinglr {
        padding-left: 0px;
        padding-right: 0px;
        .fram{
            ::ng-deep iframe {
                width: 94px;
                height: 60px;
                box-shadow: 0px 0px 58.473px rgb(49 69 139 / 5%);
                border-radius: 10px!important;
            }
        }
        .trackAndTitle{
            display: block;
        }
        .shuffle{
            img{
                width: 20px;
                height: 20px;
            }
        }
        
        
    }
    .modal .modal-content .modal-header {
        padding: 27px;
        border-bottom: 0px;
    }
}
// .modal{
//     .modal-body{
//         .fram{
//             ::ng-deep iframe {
//                 width: 163px!important;
//                 height: 112px!important;
//                 box-shadow: 0px 0px 58.473px rgb(49 69 139 / 5%);
//                 border-radius: 10px!important;
//             }
//         }
//     }
// }

::ng-deep iframe{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
